.user-details-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Work Sans';
  opacity: 60%;

  section {
    margin-bottom: 20px;

    h3 {
      color: #213f7d;
      margin-bottom: 3rem;
    }

    hr {
      margin-top: 1.5rem !important;
    }
    
    .info-group {
      // display: flex;
      // flex-wrap: wrap;
      // gap: 50px;
      // margin-bottom: 3rem;
      // width: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      width: 100%;

      // > div {
      // //   max-width: 50%;
      //   // flex-grow: 0;
      // }

      .info-strong {
        font-weight: 400;
        font-size: 12px;
        line-height: 14.08px;
      }

      .info-p {
        //   flex: 1 1 300px;
        font-size: 14px;
        font-weight: 500;
        color: #545f7d;
        margin: 0;
        line-height: 18.77px;
      }
    }
  }
}

@media (max-width: 768px) {
  .info-group {
    flex-direction: column;
  }
}
