* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Work Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// For WebKit browsers (Chrome, Safari, Edge)
::-webkit-scrollbar {
  width: 8px; // Adjust the width as needed
  height: 8px; // For horizontal scrollbar
}

::-webkit-scrollbar-thumb {
  background-color: #888; // Thumb color
  border-radius: 10px; // Optional: rounded corners
  border: 2px solid #f1f1f1; // Optional: adds a border around the thumb
}

::-webkit-scrollbar-track {
  background: #f1f1f1; // Track color
}

// For Firefox
html {
  scrollbar-width: thin; // 'thin' or 'auto'
  scrollbar-color: #888 #f1f1f1; // Thumb color and track color

  .sidebar, nav {
    scrollbar-width: thin !important;
  }
}

.searchBarContainer {
   gap: 1rem !important;
}

.hidden {
  display: none !important;
}

.hidden-lg {
   display: block !important;
}

/* App.css */
.layout {
  display: flex; /* Flex container for sidebar and main content */
  min-height: 100vh; /* Full viewport height */
  flex-direction: column;
}

.main__content {
  flex-grow: 1; /* The content will expand to fill the remaining space */
  margin-left: 0px; /* Same width as sidebar to prevent overlap */
  margin-top: 5rem;
  padding: 20px;
  background-color: #f8f9fa; /* Main content background */
  overflow-y: auto; /* Enable scrolling if the content overflows */
  transition: margin-left 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .sidebar {
    transform: translateX(0) !important; /* Sidebar visible on large screens */
    position: static; /* Sidebar remains static */
  }

  /* Layout for larger screens: Sidebar next to content */
  .layout {
    flex-direction: row; /* Sidebar and content side by side */
  }

  /* Main content adjusts to the sidebar width */
  .main__content {
    margin-left: 283px;
  }

  /* Hide the toggle button on larger screens */
  .toggle-button {
    display: none;
  }
  .hidden {
    display: inline-flex !important;
  }

  .hidden-lg {
    display: none !important;
  }
}
